/**
 * Component includes
 * ---
 * @TODO this can/should be automated
 */

/**
 * Base
 * ---
 * @TODO this should not be a permanent home
 */



body {
  color:  #404040;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
